.promo {
	padding: 27px 0 11px;
	background: url("../img/promo_bg.png") center / cover  no-repeat;
	
	&__subtitle {
		margin-bottom: 20px;
		font-family: "PT Serif", Ariel, Helvetica, sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
	
	&__title {
		font-weight: 400;
		font-size: 30px;
		line-height: 35px;
		text-align: center;
		text-transform: uppercase;
		color: #FFC700;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	}
	
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 200px;
		
		img {
			display: block;
			width: 200px;
			height: 100%;
			object-fit: contain;
		}
	}
	
	&__actions {
		display: flex;
		justify-content: center;
		margin-bottom: 22px;
	}
	
	&__description {
		margin-bottom: 11px;
		font-family: "PT Serif", Ariel, Helvetica, sans-serif;
		font-weight: 700;
		font-size: 15px;
		line-height: 19px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		
		span {
			color: #FFC700;
		}
	}
	
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
	}
	
	&__icons {
		display: inline-block;
		width: 16px;
		height: 16px;
		transform: rotate(180deg);
		margin-bottom: 3px;
		background: url("../img/arrow_btn.png") center / cover no-repeat;
		transition: .5s ease-in;
		
		&.is-Active {
			transform: rotate(0deg);
		}
	}
	
	&__more {
		font-family: "PT Serif", Ariel, Helvetica, sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
}